* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    background-color: #fafdfd;
    color: #2c7b76;
    font-size: 16px;
}

/* Inicio do Cabeçalho*/
.cont-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafdfd;
}

.cont-header h1 {
    color: #2c7b76;
    font-size: 60px;
    padding: 20px;
    margin-left: 20px;
}

.cont-header img {
    width: 150PX;
    height: 150px;
    border-radius: 100%;
    margin-left: -200px;
}

/* Fim do Cabeçalho*/

/* Inicio do menu do cabeçalho*/
.cont-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #aff3ef;
    margin-top: 200px;
}

.cont-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-menu ul li {
    color: #2c7b76;
    font-size: 25px;
    padding: 15px;
    margin-left: 5px;
}

.cont-menu ul li a {
    color: #2c7b76;
}

.cont-menu ul li a:hover {
    border-bottom: 4px solid #0f2c2a;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

/* Fim do menu do Cabeçalho*/

/* Inicio do subtitulo da pagina*/
.title {
    text-align: center;

    border: 1px solid #194d49;
    box-shadow: 10px 10px 5px 0 rgba(22, 46, 24, 0.75);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 20px;
    width: 100%;
}

.title h2 {
    margin: 10px;
    font-size: 40px;
}

.title p {
    font-size: 25px;
}

/* Fim do subtitulo da pagina*/

.cont-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfdfd;
    
}
.box{
    box-shadow: 10px 10px 5px 0 rgba(209, 226, 210, 0.75);
    width: auto;
    text-align: center;
    height: 400px;
    width: 600px;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 20px;

}
.box h2{
    color: #0f2c2a;
    margin: 10px;
}
.box img{
    margin-top: 20px;
}

/* Inicio do carrossel de slide*/
.cont-slides {

    margin:10px auto;
    width: 1150px;
    height: 0 auto;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(72deg, #6bc7c1 35%, #57b1a9, #308b85 99%);
}

.slides {

    width: 400%;
    height: auto;
    display: flex;
    transition: 5s;
}
.slides h2{
    color: #131212;
    padding-bottom: 20px;
}

.input {
    display: none;
}

.slide {

    width: 20%;
    height: auto;
    position: relative;
    text-align: center;
    transition: .6s;
}

.slide img {
    margin: 50px;

    box-shadow: 10px 10px 5px 0 rgba(22, 46, 24, 0.75);
    width: 50%;

}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

.navigation {
    position: absolute;
    width: 100%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.bar {
    height: 15px;
    width: 15px;
    margin: 6px;
    border: 2px solid #c3c5c5;
    background-color: #4fa099;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s ease;
}

.bar:hover {
    background-color: white;
}

/* Inicio do carrossel de slide*/

/* Inicio conteudo quem somos*/
#quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1150px;
    height: 450px;
    margin: 5px;
    border-bottom: 1px solid #194d49;
    border-radius: 15px;
}

.cont-sobre {
    text-align: center;
    width: 700px;
    height: 340px;
    padding: 5px;
    margin: 5px;
}

.sobre-img {
    height: 350px;
    width: 400px;
    overflow: hidden;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0 rgba(22, 46, 24, 0.75);
}

.cont-sobre h2 {
    margin: 10px;
    font-size: 40px;
}

.cont-sobre h3 {
    font-size: 30px;
    margin: 10px;
}

.cont-sobre p {
    font-size: 25px;
    text-align: start;
    color: #196b63;
}

/* Fim conteudo quem somos*/

/* Inicio conteudo pes*/
#pes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 100px;
    width: 1150px;
    box-shadow: 10px 10px 5px 0 rgba(26, 71, 30, 0.75);
}

.pes-cont {


    height: 370px;
    margin: 5px;
    text-align: center;
}

#pes h2 {
    font-size: 40px;
    margin-top: 20px;
}

#pes p {
    font-size: 25px;
    margin-top: 80px;
}

.pes-img {
    margin: 5px;
}

/* Fim conteudo pes*/

.cont-title {
    font-size: 30px;
    text-align: center;
}

#rodape {
    
    border-top: 1px solid #aff3ef;
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    height: 100px;

}
.cont-rodape{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.cont-rodape img {
    display: flex;

    padding-top: 20px;
    width: 50px;
    margin: 80px;

}
#rodape h3{
  
    margin: 20px;
    padding: 40px;
    padding-left: 50px;
}
/*------------------------------------------------------------------------------------------------------------------*/

#cards-container{
    color: #454545;
    width: 90%;
    height: 800px;
    background: #f5f5f5;
    margin: 5px;
   
    display: flex;

   
    justify-content: space-around;
    margin: 100px auto;
}
.cards-item{
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 10px 10px 5px 0 rgba(26, 71, 30, 0.75);
    
text-align: center;
height: 0 auto;
width: 100%;
padding: 15px;
}
.cards-item img{
    background: #cac7c7;
    width: 250px;
    height: 250px;
    
}
.card-cont{
    text-align: start;
    margin: 10px;
}
.card-cont h3{
    text-align: start;
    margin: 15px;
}
.btn{
    padding: 5px;
           background: red;
           border: none;
           outline: none;
           font-weight: bold;
           color: #fafafa;
           cursor: pointer;
}
